* {
    font-family: sans-serif;
}

body {
    margin: 0px;
}
section{
    margin: 10px;
}

.banner-img {
    position: relative;
    text-align: center;
}

.banner {
    filter: brightness(60%);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.font_size {
    font-size: 45px;
}

.red_color {
    color: red;
}

.Happy {
    font-size: 30px;
}

#new_year_img {
    margin: 45px;
    padding: 35px;
    text-align: center;
    align-items: center;

}
.bg_image2{
    background-image: url(resources/Vectorrr.png);
}
.Welcome_party{
    padding: 20px;
    border-radius: none;
}
.welcome_text{
    color: white;
    text-align: left;
    font-size: 20px;
    margin: 20px;
    padding: 45px;
}

.image2 {
    height: 500px;
    width: 500px;
}
#join_now{
    background-image: linear-gradient(to bottom, rgb(253, 237, 171), white);
    padding: 30px;
}
.new_park{
    align-items: center;
    text-align: center;
}

.new_park_bg{
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
}
.ellipse{
    height: 150px;
    width: 150px;
    border: 8px solid red;
    border-radius: 50%;
    padding: 10px;
}
.coming_new_year{
    align-items: center;
}
.pad{
    padding: 20px;
    font-size: 15pxpx;
}
.happy_new{
    height:50px;
    width: 50px;
}
span{
    color: red;
}
.group_image{
    align-items: center;
}
.group44{
    position: relative;
    right: -15%;
    height: 400px;
    width: auto;
    
}
.group75{
    position: relative;
    bottom: -150px;
    left: 50px;
    height: 400px;
    width: auto;
}
.rectangle1{
    height: 400px;
    width: 300px;
}
.rectangle2{
    width: 100%;
}
.display {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.bg_color {
    background-color: cornsilk;
}

.input_email {
    width: 340px;
    height: 40px;
    border: none;
    padding: 0 25px;
    border-radius: 25px 0px 0px 25px;
    border: none;
    outline: none;
}

.Subscribe {
    position: relative;
    left: -5px;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    border-radius: 0px 25px 25px 0px;
}

footer {
    background-color: black;
    color: white;
    padding: 40px;
    margin: none;
}

.phone {
    display: flex;
    justify-content: space-between;
}

.phone_img {
    background-color: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding-top: 15px;
    padding-right: 5px;
}

.footer_img {
    border-radius: 50%;
    height: 30px;
    padding: 10px;
}

#social_media {
    display: flex;
    justify-content: center;
    margin: 25px;
}